  hybrid_gnn_types:
    values:
      - "GCN,GIN"
      - "GCN,GIN,SAGE,GAT"
      - "GINE,GIN"
      - "GINE,SAGE"
      - "GINE,GGNN"
      - "GIN,SAGE"
      - "SAGE,GAT"
      - "GCN,SAGE"
      - "GATEDGRAPH,GATEDGRAPH"
      - "GATEDGCN,GATEDGCN"
