  hybrid_gnn_types:
    values:
      - "GCN,GINE"
      - "GINE,GINE"
      - "GINE,GGNN"
      - "GINE,SAGE"
      - "GGNN,GINE"
      - "GIN,GINE"
      - "GCN,GIN,SAGE,GAT"
      - "GCN,GIN"
      - "SAGE,GAT"
      - "GATEDGRAPH,GATEDGRAPH"
      - "GATEDGCN,GATEDGCN"
